//==================================================================
// Forms Partial
// Styles for various forms and form elements.
// (c) Atlantic BT. All Rights Reserved.
//==================================================================

// Variables
// =================================================================


// Wrappers
// =================================================================
form {}


	// Legend
	//--------------------------------------------------------------
	legend {
		position: absolute; top: 0; left: 0; width: 100%; margin: 0; background-color: $color_7; font-weight: 600; color:#fff;
		@include rem(padding, 10px 10px 10px 40px);
	}


	// Fieldsets / Wrappers
	//--------------------------------------------------------------
	fieldset { padding: 0; margin: 0; border: 0; }

		.fieldset {
			position: relative; background-color: $color_tertiary; overflow: hidden;
			@include rem(padding, 84px 40px 40px);
			@include rem(margin, 0 0 20px);
			@include rem(border-radius, $corners);
		}

		.field, .fieldpair, .fieldgroup {
			@include rem(margin, 0 0 16px);
		}
		.fieldpair, .fieldgroup {}

		// Field Pair
		.fieldpair > .field {}
		.fieldpair > .field:first-child {}

		// Field Group
		.fieldgroup .field {}

		// Field Group - Date Range
		.field.date-range {}
		.field.date-range input {
			display: inline-block;
			@include rem(width, 180px);
		}
		.field.date-range span {
			display: inline-block;
			@include rem(margin, 0 13px);
		}

		// Notes
		.field small {
			color: $color_7; font-style: italic;
			@include rem(margin-left, 8px);
		}


	// Checkboxes & Radios
	//--------------------------------------------------------------
	.checkboxes,
	.radios {
		padding: 0; background: none; border-radius: 0;
		@include rem(margin, 0 0 16px);

		legend {
			position: static; float: left; display: inline-block; background: none; padding: 0; margin: 0; font-weight: 400;
			@include rem(width, 200px);
		}
		ul {
			display: inline-block; padding: 0; margin: 0; list-style: none;
		}
		.field {
			margin: 0;
		}
		input + label {
			width: auto;
		}

	}


	// Labels
	//--------------------------------------------------------------
	label {
		display: inline-block;
		@include rem(width, 200px);
	}

		// Fieldgroup Label
		.fieldgroup-label {}

		// Checkbox, Radio Labels
		.fieldgroup-label + ul,
		.fieldgroup-label + ol {}
		.fieldgroup-label + ul li,
		.fieldgroup-label + ol li,
		.fieldgroup-label + ul label,
		.fieldgroup-lable + ol label {}

		// Required
		.req {
			color: $color_red_orange; font-style: normal;
		}


	// Fields
	//--------------------------------------------------------------
	input {
		background-color: #fff; border: 1px solid lighten($color_silver_chalice, 20%);
		// @include rem(width, 400px);
		//@include rem(height, 40px);
		@include rem(padding, 8px 10px);
		@include transition(all $animation_speed ease-in-out);

		// Checkbox & Radio
		// Checkbox & Radio
		&[type="checkbox"] + label,
		&[type="radio"] + label {
			display: inline-block;
			cursor: pointer;
			position: relative;
			padding:10px 25px;
			margin-right: 15px;
			font-size: 13px;
			width: 100%;
			&:before {
				content: "";
				display: inline-block;

				width: 16px;
				height: 16px;

				margin-right: 10px;
				position: absolute;
				right: 0;
				background-color: #f2f2f2;
			}
		}
		&[type="checkbox"] + label {
			&:before {
				// border-radius: 8px;
				border:1px solid darken(#f2f2f2,30%);
			}

		}

		&[type="radio"] + label {
			&:before {
				border-radius: 8px;
				border:1px solid darken(#f2f2f2,30%);
			}

		}
		&[type="checkbox"],
		&[type="radio"] {
			
			display: none;  

		}

		&[type="radio"]:checked + label:before {
		    background-color: #cc0000;
		    color: #f3f3f3;
		    font-size: 32px;
		    text-align: center;
		    line-height: 14px;
		    border:1px solid darken(#cc0000,20%);
		}
		&[type="radio"]:checked + label:after {
			background-color: #fff;
			content: "";
			display: inline-block;

			width: 8px;
			height: 8px;
			border-radius: 4px;
			position: absolute;
			left: 4px;
			top: 5px;
		}

		&[type="checkbox"]:checked + label:before {
		    background-color: #cc0000;
		    color: #f3f3f3;
		    font-size: 32px;
		    text-align: center;
		    line-height: 14px;
		    border:1px solid darken(#cc0000,20%);
		}
		&[type="checkbox"]:checked + label:after {
			// background-color: #fff;
			content: "";
			display: inline-block;

			width: 7px;
			height: 12px;
			// border-radius: 4px;
			@include transform(rotate(45deg));
			position: absolute;
			right: 14px;
			top: 10px;
			border-right:3px solid #fff;
			border-bottom:3px solid #fff;
		}

		&[type="checkbox"]:focus, &[type="radio"]:focus {}

		// Search
		&[type="search"] {}
		&[type="search"]::-ms-clear {
			display: none;
		}

		// File
		&[type="file"] {
			width: auto; height: auto; border: 0;
		}

		// Submit
		&[type="submit"] {
			width: auto;
		}

		// Required
		&:required {
			box-shadow: none;
		}

		// Focus
		&:focus {
			border-color: $color_primary;
		}

		// Disabled
		&:disabled {
			padding: 0; background-color: rgba(#fff, .25); border-color: rgba(lighten($color_silver_chalice, 20%), 0);
		}

	}
	textarea {
		background-color: #fff; border: 1px solid $color_5;
		@include rem(width, 400px);
		@include rem(height, 100px);
		@include rem(padding, 10px);
		@include transition(all $animation_speed ease-in-out);
	
		// Focus
		&:focus {
			background-color: lighten($color_primary, 70%); border-color: $color_primary;
		}

		// Disabled
		&:disabled {
			height: auto; padding: 0; background-color: rgba(#fff, .25); border-color: rgba(lighten($color_silver_chalice, 20%), 0); resize: none;
		}
	}

.edit-program {

}


::-webkit-input-placeholder {
   color: $color_6;
}

:-moz-placeholder { /* Firefox 18- */
   color: $color_6;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $color_6;  
}

:-ms-input-placeholder {  
   color: $color_6;  
}
